# Created by .ignore support plugin (hsz.mobi)
/crms.iml
.idea/*
.DS_Store
*.iml
*/*.iml
.settings
.classpath
.project
classes
test-classes
*.log
/log
logs
target
~/.m2/*
*/target/
/*/*/target/
*/*/*.iml
.idea/
.idea
/target
/*/target/*
/bin
/attendancelog/target/
/attendancelog/logger.path_IS_UNDEFINED/
/temp/*
